<!DOCTYPE html>
<html>
  <head>
    <title>Troll For Humanity</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Troll For Humanity</h1>
    <p>Make 'murica great again!</p>
  </body>
</html>
