<!DOCTYPE html>
<head>
  <title>Troll For Humanity</title>
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans" />
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
  <link rel="stylesheet" href="/stylesheets/bootstrap-toggle.min.css">
</head>
<body>
  <%- body %>
</body>
</html>
