<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Trolling for "humanity" </title>
  <meta name="Trolling for humanity" content="The HTML5 of the gods">


</head>

<body style="text-align:center;">
<div style = "min-height:100px;"> </div>
  <div>
    <img src="gears.svg" alt="">
  </div>
<div>
  <h1 id ="yak">BUILDING THE YAK PACKS</h1>
</div>
</body>
</html>





<script>
    setTimeout(function(){
       window.location='main.ejs';
    }, 5000);

    $(function() {
        $('#yak').fadeOut(1000, function() {
            $(this).text('Loading the yaks...').fadeIn(5000);
        });

    });


</script>
