*{border-radius:0px!important; -moz-border-radius:0px!important; -webkit-border-radius:0px!important; border:none!important }
/*Override BS*/


/*Main CSS*/
#particles{height:500px}

.navbar-default {
background-color:white;
border-color: none;
}

.navbar-nav > li{padding-top:50px; padding-bottom:30px}

.navbar-nav {
display: table;
float: none;
margin: 0 auto;
table-layout: fixed;
}



@media (max-width: 767px) {
 .navbar-nav > li:after{content: ""!important}
}

#particles {
     padding-bottom:100px;
}
